<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>웹캠 스트리밍</title>
   
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    
    <link rel="stylesheet" href="/static/css/streaming.css">
</head>
<body>
    <h1>CCTV</h1>
    <div class="video-container" id="videoContainer"></div>


<script>
  window.onload = function() {
    
    var videoContainer = document.getElementById('videoContainer');

    
    var videoStreamImg = document.createElement('img');
    videoStreamImg.id = 'videoStream';
    videoStreamImg.width = 640;
    videoStreamImg.height = 480;
    videoStreamImg.alt = '웹캠 스트리밍';

    
    videoStreamImg.src = '/video/stream';

    
    videoContainer.appendChild(videoStreamImg);
  }
</script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
